
/*
    ----------------------------------------------------------------
    animation 
*/

/* 
    ----------------------------------------------------------------
    general
*/

.main{
    font-family: roboto-mono-regular;
}

.list_header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_header h1{
    margin: 20px;
    font-size: 36px;
    color: #3a3a3a;
}

.list_header i{
    margin: 5px;
    font-size: 32px;
    color: #3a3a3a;
}

.list_header i:hover{
    cursor: pointer;
}

.list_header i:active{
    text-shadow: 0 0 10px #99f1fa;
}

.list_header div{
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 1px 0.1px #3a3a3a;
    font-size: 18px;
    color: #3a3a3a;
}

.list_header input[type='text']{
    padding: 10px;
    margin: 10px;
    border: 0;
    outline: none;
    box-shadow: 0 0 1px 0.1px #3a3a3a;
    font-size: 18px;
    color: #3a3a3a;
}

.list_header input[type='text']:hover{
    background-color: #e3ecec;
}

.list_header input[type='text']:focus{
    background-color: transparent;
    box-shadow: 0 0 10px 1px #99f1fa;
}

.list_header button{
    padding: 10px;
    margin: 10px;
    border: 0;
    outline: none;
    box-shadow: 0 0 1px 0.1px #3a3a3a;
    font-size: 18px;
    color: #3a3a3a;
}

.list_header button:hover{
    background-color: #e3ecec;
}

.list_header button:active{
    background-color: transparent;
    box-shadow: 0 0 10px 1px #99f1fa;
}

.list a{
    text-decoration: none;
}

.list p{
    padding: 20px;
    margin: 0;
    border-bottom: solid 1px #626a6a;
    text-align: center;
    background-color: #bfd7ff;
    font-size: 24px;
    color: #3a3a3a;
}

.list p:hover{
    background-color: #c8daf6;
}

.list p:active{
    background-color: #d4dff1;
}