<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sport Tournament</title>
  <link rel="icon" href="static/image/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static\css\front.css">
  <script src="https://kit.fontawesome.com/c3ccc50b77.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="main">
    <h1>Sport Tournament</h1>
    <h2>Welcome</h2>
    <p>Create tournaments, games, teams to let other users join publicly <br>or by notifying certain friends to join</p>
    <a href="/signin"><div>sign in</div></a>
    <a href="/login"><div>login</div></a>
  </div>
</body>
</html>